My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "28605c89-f157-485f-8667-5d760189d33f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.techtalkthai.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "0ce00e40-bc2b-4fe6-a2a4-e7ec41e80fc7",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "9pC6SYQD4AQi8Xjo",
          "mode": "list",
          "cachedResultName": "RSSdatatable",
          "cachedResultUrl": "/projects/8UnBIEGPwQ7sjlF6/datatables/9pC6SYQD4AQi8Xjo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "news": "={{ $json.pubDate }}"
          },
          "matchingColumns": [
            "news"
          ],
          "schema": [
            {
              "id": "news",
              "displayName": "news",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "3dafde37-b8e0-4fc1-a7bb-55b93670d576",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ea5dc5e-d750-4fb0-add2-2525fe55cfd9",
  "meta": {
    "instanceId": "93b86db002c008f9a17a5d5f09c163c376ccf2a157024366ad3cb18b91bac146"
  },
  "id": "bE6V9cW6MHmHI00S",
  "tags": []
}